body {
background-color: black;
}
h1 {
color: blue;
}
p {
   color: red;
}

.p2 {
     color: red;
}
div {
position: absolute;
left: 30px;
top: 12px;
width: 80px;
padding: 10px;
height: 50px;
border: 5px solid green;
margin 0;
}

.div2 {
position: absolute;
top: 12px;
left: 220px;
width: 80px;
height: 50px;
padding 10px;
margin 0;
}

.div3 {
position: absolute;
top: -6px;
left: 200px;
width: 80px;
height: 50px;
padding 10px;
}
