body {
background-color: black;
}
h1 {
color: blue;
}

p {
     color: red;
     word-spacing: 100px;
     font: 20px Arial, sans-serif;
}

.p2 {
     color: white;
     word-spacing: 10px;
     font: 20px Arial, sans-serif;
}

div {
position: absolute;
top: 20px;
left: 450px;
width:  900px;
height: 59px;
padding: 5px;
border: 3px solid white;
}

.div2 {
position: absolute;
top: 80px;
left: 2px;
width: 900px;
height: 350px;
padding: 2px;
border: 2px solid white;
}
